NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
JWT_SECRET=your-secret-here

# Google OAuth
GOOGLE_CLIENT_ID=158692210029-2h3jvon3atpi6l75vete4b8ktioo6og7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/callback
